@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

.navbar{
    grid-area: nav;
}
.searcher{
    grid-area: searcher;
}
.pie-pagina{
    grid-area: footer;
}

body {
    background: #f6f5f7;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "searcher"
        "footer";
    grid-template-rows: auto 2fr auto; /* Ajusta la altura de la fila "searcher" según tus necesidades */
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2{
    font-weight: 100 !important;
    margin: 0; 
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.navbar{
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: white !important;

    grid-area: nav;
}

.nav-item{
    color: white !important;
}

.navbar-brand{
    color: white  !important;
}

.nav-link{
    color: white !important;
}

.navbar-toggler-icon{
    color: white !important;
}

.material-symbols-outlined {
    font-size: 2rem !important;
    cursor: pointer;
}

.material-symbols-outlined--big{
    font-size: 2.5rem !important;
    cursor: default;
}

.input-group{
    box-shadow: #ff416c -6px 6px 15px 0px;
}

.input-group-text{
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: white !important;
}

.material-symbols-outlined--white{
    color: white !important;
}

.searcher{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-area: searcher;

    align-self: self-start
}

.input-search{
    border-radius: 20rem !important; 
    max-width: 700px;
}

.results{
    padding: 1rem;
    width: 100%;
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: white !important;
    width: fit-content;

}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem !important;
}

.results {
    border-radius: 15px;
    padding: 20px;
}

#movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    place-items: center;
    width: 100%;
    max-width: 50vw;
}

.card {
    width: 100%;
    height: 100% !important;
    display: grid;
    /* place-items: stretch; */
    place-content: space-between !important;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 0.25rem;
  
}

.card img {
    width: 95%;
    height: 100%;
    border-radius: 10px;
    align-self: center;
    min-height: 410px;
    
}

.card:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    z-index: 100;
}

.card-body {
    text-align: center;
}

.spinner-border{
    align-self: center !important;
}

.modal-content{
    padding: 1rem;
    width: 100%;
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: white !important;
    width: fit-content;
}

.modal-body{
    background-color: white;
    border-radius: 1rem;
    color: black;
}

.img-fluid{
    max-width: 350px !important;
}

.image-platform{
    max-width: 200px;
    height: auto;
}


.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platform-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
}

.buton-detail{
    color: white !important;
}

.error-text{
    color: #FF4B2B;
}


.pie-pagina{
    width: 100%;
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;

    grid-area: footer
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.box-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 55px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    margin-right: 10px;
    background-color: #000000;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 50%;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.5); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    z-index: 100;
    background: white;
}
.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}
.pie-pagina .grupo-2{
    background: #000000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}


.container-card-icon{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.644);
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: grid;
    place-content: center;
    backdrop-filter: blur(5px); 
    transition: all 300ms ease;
}

.card-icon{
    font-size: 3rem !important;
    color: rgb(255, 255, 255);
}

.container-card-icon:hover{
    transform: scale(1.3); 
}

.card-icon--red{
    background: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(0, 0, 255));
    -webkit-background-clip: text;
    color: transparent;
}


form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.form-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.form-inputs input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 1rem 0 0 !important;
    width: 100%;
}

p.error-text{
    font-size: 1.25rem;
    font-weight: 400;
    color: #FF4B2B;
    margin: 0 0 1rem;
    height: 2ch;
    margin-top: 1rem;

}

span.error-text{
    color: #FF4B2B;
    margin: 0;
    height: 1ch;
    margin-bottom: .75rem;

}

.modal-content{
    border-radius: 1.5rem !important;
}

.modal-header{
    border: none !important;
}

button {
    border-radius: 2rem !important;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin-top: 1.5rem;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

.overlay button {
    background-color: transparent;
    border-color: #FFFFFF;
}


.card-icon--expand{
    transition: transform 80ms ease-in;
}

.card-icon--expand:hover{
    transform: scale(1.5);
}



.btn-detail:hover{
    
    background: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(0, 0, 255));

}